* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #272727;
  color: #fff;
}

.parent {
  font-size: 100px;
  text-align: center;
  outline: 1px solid red;
  /* border: 30px solid red; */
}

.child {
  font-size: 75px;
}
