* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/* phone screen, mobile first*/
.container {
  width: 100vw;
  height: auto;
  color: #fff;
  position: relative;
}

.header,
.main,
.sidebar,
.footer {
  padding: 20px;
}

.header {
  width: 100%;
  height: 10%;
  background-color: #521945;
}
.footer {
  width: 100%;
  height: auto;

  background-color: #912f56;
}

.cont {
  height: 90;
  display: inline-flex;
}

.main {
  width: 100%;
  height: 100%;
  background-color: #361f27;
}

.sidebar {
  display: none;
}

/* tablet screen */
@media (min-width: 40em) {
  .sidebar {
    display: block;
    width: 30%;
    height: auto;
    background-color: #0d090a;
  }
}

/* large screen */
@media (min-width: 65em) {
  .main {
    overflow-y: scroll;
  }
  .text {
    width: 70%;
    padding-left: 13em;
  }
  .sidebar {
    width: 20%;
  }
}
